<div class='list card tab01' ng-controller="tab01">
    <div class='item-wrap'>
        <div class="item item-avatar">
            <a href="#others"><img src="img/ionic.png"></a>
            <h2>Pretty Hate Machine</h2>
            <p>
                <time>一分钟前</time> 来自
                <author>皮皮虾的分享</author>
            </p>
        </div>

        <div class="item item-image">
            <a href="#tabs/article"><img src="img/cont1.jpg" class='tab01_img'></a>

        </div>

        <div class="item assertive links">
            <a class="item-icon-bottom like" ng-click='like()'><span>赞</span></a>
            <a class="item-icon-bottom flr" ng-click='comment()'>评价</a>
            <a class="item-icon-bottom flr" ng-click='foward()'>转发</a>
        </div>
    </div>

    <div class='item-wrap'>
        <div class="item item-avatar">
            <img src="img/ionic.png">
            <h2>Pretty Hate Machine</h2>
            <p>
                <time>一分钟前</time> 来自
                <author>皮皮虾的分享</author>
            </p>
        </div>

        <div class="item item-image">
            <img src="img/cont1.jpg" class='tab01_img'>
        </div>

        <div class="item assertive links">
            <a class="item-icon-bottom like"><span>赞</span></a>
            <a class="item-icon-bottom flr">评价</a>
            <a class="item-icon-bottom flr">转发</a>
        </div>
    </div>


</div>